<!DOCTYPE html>
<html>
<body>

<h2>Postal Rate Calculator</h2>

<form action="/getRate">
  Weight:<br>
  <input type="text" name="weight">
  <br>
  Type:<br>
  <input type="radio" name="type" value="stamped"> Letters (Stamped)<br>
  <input type="radio" name="type" value="metered"> Letters (metered)<br>
  <input type="radio" name="type" value="flats"> Large Envelopes (Flats)<br>
  <input type="radio" name="type" value="firstClass"> First-Class Package Service-Retail<br>
  <br>
  <input type="submit" value="Submit">
</form>

</body>
</html>